@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap");
body {
  font-family: 'Work Sans', sans-serif;
}

.border-icon {
  border: 1px solid #ebe9e9;
  border-radius: 50%;
  padding: 12px 15px;
}

.color2 {
  color: #74757f;
}

.btn1 {
  border: 1px #74757f solid;
  color: #74757f;
  transition: all 0.3s ease-in-out;
}

.btn1:hover {
  color: white;
  border: 1px solid #007bff;
  background-color: #007bff;
}

.alink {
  transition: all 0.3s;
  font-size: 26px;
}

.alink:hover {
  color: #74757f;
}

.my-6 {
  margin: 3.6rem 0;
}

.bg-darker {
  background-color: #f5f6fa;
}

.btn2 {
  border: 1px white solid;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn2:hover {
  color: white;
  border: 1px solid #007bff;
  background-color: #007bff;
}

.fullrounded {
  border-radius: 50%;
}

.w-20 {
  width: 20%;
  height: 20%;
}

.bg-footer {
  background-color: #1d1d1d;
}

.border-iicon {
  transition: all 0.3s ease-in-out;
}

.border-iicon:hover {
  color: #007bff;
}
