@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

$color2 : #74757f;
$colorBlue : #007bff;


.border-icon {
    border: 1px solid #ebe9e9;
    border-radius: 50%;
    padding: 12px 15px;
}

.color2 {
    color: $color2;
}

.btn1 {
    border: 1px $color2 solid;
    color: $color2;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
        border: 1px solid $colorBlue;
        background-color: $colorBlue;
    }
}

.alink {
    transition: all 0.3s;
    font-size: 26px;
    &:hover {
        color: $color2;
    }
}

.my-6 {
    margin: 3.6rem 0;
}

.bg-darker {
    background-color: #f5f6fa;
}

.btn2 {
    border: 1px white solid;
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
        border: 1px solid $colorBlue;
        background-color: $colorBlue;
    }
}

.fullrounded {
    border-radius: 50%;
}


.w-20 {
    width: 20%;
    height: 20%;
  }

.bg-footer {
    background-color: #1d1d1d;
}

.border-iicon {
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #007bff;
    }
}